<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="container">

  <div class="jumbotron">
    <h1 class="display-2">Form events</h1>
    <h1 class="display-4">Lesson 3 excercise 2</h1>
  </div>

<form [formGroup]="userForm">
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
  <input class="form-control" type="text" formControlName="email" placeholder="Email">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input class="form-control" type="text" formControlName="name" placeholder="Name">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Age</label>
  <input class="form-control" type="number" formControlName="age" placeholder="Age">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Salary</label>
  <input class="form-control" type="text" formControlName="salary" placeholder="Salary">
  </div>
  <input class="btn btn-primary" type="submit" value="Submit">
</form>

</div>
</body>
